.content {
  background-color: lightblue;
  float: left;
  max-width: 25%;
  height: auto;
  margin: 10px;
  border: 4px solid black;
  padding: 4px;
}

.content img {
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
}

.intro h2{
  background-color: lightblue;
  margin: 10px;
  border: 4px solid black;
  padding: 4px;
}

.intro p{
  background-color:lightblue;
  margin: 10px;
  border: 4px solid black;
  padding: 4px;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: grey;
  }
  h1 {
    color: lightblue;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    color: white;
  }
  body {
    background-color: black;
  }

}

@media screen and (max-width: 480px) {
  h1 {
    color: lightblue;
  }
  body {
    background-color: grey;
  }
  }
